 .count-product {
     font-size: 16px;
     border: none;
     width: 10ch;
     padding: 0;
     font: inherit;
     text-align: center;
     outline: none;
 }

 .minus.disabled {
    opacity: 0.5;
    pointer-events: none;
  }
  
  .minus, .plus {
    cursor: pointer;
  }