.cart-img-block {
    display: flex;
    align-items: center; /* Центрирование по вертикали */
    justify-content: center; /* Центрирование по горизонтали */
    
}

.cart-el-count {
    position: absolute; /* Делаем позицию абсолютной, чтобы можно было центрировать */
    left: 42%; /* Перемещаем элемент на 50% от левого края родителя */
    top: 55%; /* Перемещаем элемент на 50% от верхнего края родителя */
    transform: translate(-50%, -50%); /* Сдвигаем элемент на половину его ширины и высоты для точного центрирования */
    font-size: 11px;
    color: white;
}
