.cart-button {
    position: relative;
    cursor: pointer;
}

.cart-count {
    position: absolute;
    top: -5px;
    right: -5px;
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 2px 6px;
    font-size: 12px;
}

.cart-modal-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 95%;
    width: 90%;
    margin: 0 auto;
}

.cart-modal {
    position: fixed;
    top: 0;
    right: -300px;
    /* Начальное положение */
    width: 420px;
    height: 100%;
    background-color: #fff;
    box-shadow: 2px 0 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
    padding: 20px;
    z-index: 1000;
    overflow-y: auto;
}

.cart-head {
    display: flex;
    justify-content: space-between;
}

.cart-head span {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart-modal.open {
    transform: translateX(-300px);
    /* Исправленное значение */
}

.close-button {
    font-size: 24px;
    border: none;
    background: none;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
}

.cart-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 999;
}

.cart-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}


.create-order-button {
    border-radius: 20px;
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px 15px 10px 15px;
    margin-top: 15px;
    cursor: pointer;
    width: 100%;
    height: 55px;
    font-size: 20px;
}

.create-order-button:hover {
    background-color: #919090;
    border: #919090;
    transition: 300ms;
}

.total-price {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid;
    padding-top: 30px;
}

.total-price-text {
    font-size: 20px;
    font-weight: 400;
}

.total-price-cost {
    font-size: 20px;
}

@media (max-width: 768px) {
    .cart-modal {
        position: fixed;
        top: 0;
        right: -300px;
        width: 100%;
        height: 100%;
        background-color: #fff;
        z-index: 1000;
        overflow-y: auto;
        padding: 0;
    }

    .cart-modal-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 95%;
        width: 90%;
        margin: 0 auto;
    }

    .total-price {
        padding: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .total-price-text,
    .total-price-cost {
        padding-top: 20px;
    }

    .cart-head {
        width: 90%;
    }
}